<h1>Kitty Profile</h1>

<h2><%= @cat.name %></h2>

<% if @cat.favorites != [] && @cat.best_friend != nil %>
	<p>This cat's best friend is <a href="/cats/<%= @cat.best_friend.id %>/view"><%= @cat.best_friend.name %></a>.</p>
<% end %>

<% if @cat.favorites != [] %>
	<p><%= @cat.name %> loves
		<% if @cat.favorites.length == 1 %>
			<% @cat.favorites.each do |favorite| %>
						<%= favorite.thing %>.
				<% end %>
		<% elsif @cat.favorites.length == 2 %>
				<% @cat.favorites.each do |favorite| %>
						<% if favorite != @cat.favorites.last %>
								<%= favorite.thing %> and
						<% else %>
								<%= favorite.thing %>.
						<% end %>
				<% end %>
		<% else %>
				<% @cat.favorites.each do |favorite| %>
						<% if favorite != @cat.favorites.last %>
							<%= favorite.thing %>,
						<% else %>
								and <%= favorite.thing %>.
						<% end %>
				<% end %>
			<% end %>
	</p>
<% end %>

<% if !@cat.photo.nil? %>
  <img class="profile" src="<%= @cat.photo %>" />
<% end %>

<div id="cat_info">
  <ul>
    <li><%= @cat.name %> has <%= @cat.likes %> likes.</li>

    <li><a href="/cats/<%= @cat.id %>/like">Like this cat</a></li>

    <li><a href="/cats/<%= @cat.id %>/edit">Edit this cat</a></li>
    
    <li><a href="/cats/<%= @cat.id %>/favorite">Add this cat's favorite things</a></li>
  </ul>
</div>
