<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Omeowha</title>
    <link rel="shortcut icon" href="http://freefavicons.org/download/green-cat/green-cat.png" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
 <h1 id="logo"><a href="/">Omeowha</a></h1>
  <h2 class="welcome">Omaha's premier social media site for cats.</h2>
<nav>
  <ul>

    <li>
      <a href="/cats/new">Add that furry face of yours</a>
    </li>

   <% if user_signed_in? %>
      <li>
        <%= link_to('Profile settings', edit_user_registration_path) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Register', new_user_registration_path)  %>
      </li>
    <% end %>

    <li>
      <a href="/">Home</a>
    </li>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>

   </ul>
</nav>


  <%= yield %>
  <%= render "flashes" -%>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
